{% extends 'base.html.twig' %}
{% block title 'Création de reservation' %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        {% endblock %}

{% block body %}


    <div class="container ">
        <div class="col-lg-12 text-center mx-auto">
            <h1>Création d'une reservation</h1>
            <p>&nbsp;</p>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger"><b>{{ message }}</b></div>
            {% endfor %}
        </div>


        <div class="col-lg-6 mx-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
        </div>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"> Horaire d'ouverture du centre culturel</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <table class="table table-success table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Jour</th>
                        <th scope="col">Ouverture</th>
                        <th scope="col">Fermeture</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 0 %}
                    {% for i in 0..6 %}
                        <tr>
                            {% if i == 0 or i == 6 %}
                                <th scope="row">{{ i }}</th>
                                <td>{{ week[i] }}</td>
                                <td> Fermé </td>
                                <td> Fermé </td>
                            {% else %}
                            <th scope="row">{{ i }}</th>
                            <td>{{ week[i] }}</td>
                            <td>{{ hourly[i][0] }}</td>
                            <td>{{ hourly[i][1] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>


{% endblock %}
  {% block javascripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      <script>
          jQuery(document).ready(function (){
              $('.js-datepicker').datetimepicker({
                  format: 'DD/MM/YYYY H:mm'
              });
              $('.js-datepicker2').datetimepicker({
                  format: 'DD/MM/YYYY H:mm'
              });
              $(".js-datepicker").on("dp.change", function (e) {
                  $('.js-datepicker2').data("DateTimePicker").minDate(e.date);
              });
              $(".js-datepicker2").on("dp.change", function (e) {
                  $('.js-datepicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>
  {% endblock %}