{% extends 'base.html.twig' %}
{% block title 'Gestion des utilisateurs' %}
{% block body %}

    <div class="container mt-4">
        <h1></h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        <a href="{{ path('user.edit', {id:user.id}) }}" class="btn btn-success">Editer</a>
                        <form method="post" action="{{ path('user.delete', {id:user.id} ) }}" style="display: inline-block"
                              onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer cet utilisateur?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~ user.id) }}">
                            <button class="btn btn-danger"> SUPPRIMER</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('user.create') }}" class="btn btn-primary"> Ajouter un utilisateur</a>
        </div>
    </div>
{% endblock %}
