{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-6 col-md-12 mx-auto text-center">

        <p><h1>Reservation d'un ordinateur</h1></p>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">


        <div class="col-sm-6 col-md-6 col-xl-4 mb-3">
            <div class="card text-white bg-info mb-3 mx-auto" style="max-width: 25rem;">
                <div class="card-body mx-auto">

                    <div class="align-middle text-center">
                        <img src="{{  asset('build/images/new-user.png') }}" class="d-block mx-auto mb-4" alt="pc-normal" width="70%">
                        <form action="{{ path('user.create.redirect') }}">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Nouvel Utilisateur" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-xl-4 mb-3  ">
            <div class="card text-white bg-info mb-3  mx-auto" style="max-width: 25rem;">
                <div class="card-body mx-auto">

                    <div class="align-middle text-center">
                        <img src="{{  asset('build/images/user.png') }}" class="d-block mx-auto mb-4" alt="pc-normal" width="45%">
                        <form action="{{ path('booking.create') }}">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Utilisateur existant" />
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="{{ path('administration') }}">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Retour" />
            </form>
        </div>


        </div>





{% endblock %}
